@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0% { --gradient-angle: 0deg; }
    100% { --gradient-angle: 360deg; }
}

.wrappergrid {
    margin: 1.5em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(220px, 100%), 1fr));
    gap: 2em;
}

.modulewrapper {
    text-align: center;
    padding: 1em;
    border-radius: 0.5em;
    position: relative;
}

.modulewrapper::before,
.modulewrapper::after {
    content: '';
    position: absolute;
    border-radius: inherit;
}

.modulewrapper::before {
    inset: -0.8rem;
    z-index: -200;
    background-image: conic-gradient(
        from var(--gradient-angle),
        hsl(202, 100%, 56%, var(--opacity)),
        hsl(269, 100%, 61%, var(--opacity)),
        hsl(343, 100%, 50%, var(--opacity)),
        hsl(269, 100%, 61%, var(--opacity)),
        hsl(202, 100%, 56%, var(--opacity)));
    animation: rotation 10s linear infinite;
    filter: blur(0.5rem);
}

.modulewrapper::after {
    inset: -0.3rem;
    z-index: -100;
    background-color: var(--background);
    opacity: 0.8;
} 

.moduleheading {
    color: var(--text);
    font-weight: 600;
}

.modulewrapper hr {
    border-color: var(--text);
    width: 80%;
    margin-bottom: 0.75em;
    margin-right: auto;
    margin-left: auto;
}

.link {
    display: block;
    text-decoration: none;
    color: var(--text);
}

.link:hover, .link:focus {
    color: var(--accent);
}

.ambosspage {
    text-align: center;
    margin-top: 1em;
}