@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% { --gradient-angle: 0deg; }
  100% { --gradient-angle: 360deg; }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  min-height: calc(100svh - 48px);
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5em;
  padding: 2em 5em;
  position: relative;
}

.content::before {
  content: '';
  position: absolute;
  inset: -1rem;
  background-image: conic-gradient(
    from var(--gradient-angle),
    hsl(202, 100%, 56%, var(--opacity)),
    hsl(269, 100%, 61%, var(--opacity)),
    hsl(343, 100%, 50%, var(--opacity)),
    hsl(269, 100%, 61%, var(--opacity)),
    hsl(202, 100%, 56%, var(--opacity)));
  animation: rotation 5s linear infinite;
  filter: blur(8rem);
}

.motto {
  max-width: 450px;
  color: var(--text);
  font-weight: 500;
  font-size: 1.3em;
  text-align: center;
  line-height: 1.5;
  background-image: var(--gradient);
  background-clip: text;
  color: transparent;
}

.motto::before {
  content: open-quote;
}

.motto::after {
  content: close-quote;
}